@import url('https://fonts.googleapis.com/css?family=Poppins');

body{
    margin: 0;
    padding:0;
    font-family: "Poppins", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;